@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header{
	background-color: #0A3665;
	height: 140px;
}
header .ul_01{
	margin-left: 1020px;
	width: 100%;
}
header .ul_01 li a{
	display: block;
	margin-top: 8px;
	color: white;
	font-size: 12px;
	float: left;
	margin-left: 5px;
}
header img{
	position: absolute;
	margin-top: 65px;
	margin-left: 50px;
}
#search{
	margin-top: 50px;
	margin-left: 385px;
	width: 650px;
	height: 25px;
	border: solid white 10px;
	border-radius: 5px;
}
#search_icon{
	position: absolute;
	margin-left: -84px;
	margin-top: -5px;
}
.newly-added-shop{
	float: left;
	margin-left: 1100px;
	margin-top: -36px;
}
.newly-added-shop ul li{
	float: left;
}
.newly-added-shop a{
	color: white;
	font-size: 18px;
	text-decoration: underline;
	display: block;
	width: 85px;
}
nav{
	background-color: #0669B2;
	height: 37px;
}
nav #padCheck{
	margin-left: 50px;
	height: auto;
	
}
nav #padCheck li{
	margin:0 auto;
	float: left;
	margin-left: 40px;
	line-height: 37px;
	display: block;
}
nav #padCheck li:hover{
	background-color: #06558E;
}
nav #padCheck a{
	color: white;
	font-weight: 600;
	font-size: 13px;
}
nav #padCheck a:hover{
	color: red;
	font-weight: bolder;
}
#area_img{
	height: 30px;
}
#area_img img{
	cursor: pointer;
}
#left{
	width:245px;
	height: auto;
	background-color: #393F48;
	margin-left: 70px;
}
.list-nav-title{
	color: white;
	font-size: 18px;
	margin-left: 23px;
	padding-top: 47px;
}
.line{
	width: 195px;
	height: 1.5px;
	background: #5E646C;
	margin-top: 10px;
}
#left_ul ul li{
	margin-top: 30px;
	margin-left: 23px;
}
#left_ul ul li p{
	color: white;
}
#left_ul ul li img{
	float: right;
	margin-top: -15px;
	margin-right: 50px;
}
#div_checkbox{
	width: 400px;
}
#div_checkbox li{
	margin-top: 15px;
	margin-left: 23px;
}
#div_checkbox li input{
	cursor: pointer;
}
#checkbox_price{
	margin-left: 55px;
	margin-top: -134px;
}
#checkbox_price p{
	margin-top: 17px;
	color: white;
	font-size: 12px;
}
#clear_button input{
	margin-top: 20px;
	width: 175px;
	height: 38px;
	border: white solid 2px;
	background-color: #393F48;
	color: white;
	font-size: 12px;
	border-radius: 2px;
}
#clear_button input:hover{
	background-color: white;
	color: #0073D1;
}
#right{
	float:right;
	margin-right: 68px;
	margin-top: -940px;
	width: 880px;
	height: 1000px;
}
#right_list input{
	width: 150px;
	height: 30px;
	border: solid #ccc 1.5px;
	background-color: white;
	border-radius: 2px;
}
/* #right_list select{
	width: 140px;
	height: 35px;
	margin-top: 25px;
	margin-left: -130px;
}
 */
#right_list_right{
	width:140px;
	height:35px;
	margin-left:15px;
	margin-top:-35px;
}

#right_list_left{
	width:140px;
	height:35px;
	margin-left:-190px;
	margin-top:-35px;
}

.commo{
	margin-top: 20px;
	width: 150px;
	height: 270px;
	display: inline-block;
	margin:20px;
	
}
#commodity{
	margin-left: -220px;
	margin-right: 20px;
}

.commo h2{
	font-size: 12px;
	margin-left: 12px;
	margin-top: 3px;
	font-weight: 500;
}
.commo p{
	font-size: 16px;
	margin-left: 12px;
	margin-top: 20px;
	font-weight: 600;
}
#foot{
	background-color: #0A3665;
	width: 100%;
	height: 450px;
	margin-top: 50px;
	float: left;
}
#foot_div1{
	width: 218px;
	height: 58px;
	float: left;
}
#foot_div1 img{
	margin-top: 40px;
	margin-left: 70px;
}
#foot_div2{
	width: 218px;
	height: 250px;
	float: left;
	margin-top: 40px;
	margin-left: 130px;
}
#foot_div2 ul li{
	margin-top: 40px;
}
#foot_div2 ul li:first-child{
	margin-top: 0;
}
#foot_div2 ul li a{
	color: white;
	margin-top: 40px;
	font-size: 15px;
}
#foot_div3{
	width: 250px;
	height: 250px;
	float: left;
	margin-top: 40px;
	margin-left: 350px;
}
#foot_div3 p{
	color: white;
	font-size: 15px;
}
#foot_div3 #p2 ul li{
	margin-top: 24px;
}
#foot_div3 #p2 ul li a{
	color: white;
	font-size: 15px;
	margin-top: 10px;
}
#footline{
	width: 1120px;
	height: 2px;
	float: left;
	background-color: white;
	margin-left: 70px;
}
#foot_content{
	float: left;
}
#foot_content p{
	margin-left: 70px;
	color: white;
	font-size: 12px;
}
#foot_content p a{
	color: white;
	margin-left: 10px;
	font-size: 12px;
}
#f_c1{
	margin-top: 20px;
}
#f_c2{
	margin-top: 20px;
}
#f_c4{
	margin-top: 20px;
}
.header_menu{
	width: 270px;
	height: 360px;
	position: absolute;
	margin-left: 18px;
	margin-top: 22px;
}
#hm_i{
	height: 11px;
}
.hm_list{
	background-color: white;
	margin-top: 0;
	height: 400px;
	border: solid white 0.5px;
	border-radius: 6px;
	border-left: #ccc solid 0.5px;
	border-right: #ccc solid 0.5px;
	border-bottom: #ccc solid 0.5px;
}
.hm_list #hml_1{
	font-size: 20px;
	font-weight: 300;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.hm_list .hml_2{
	float: right;
	font-weight: 100;
	margin-right: 15px;
	margin-top: 19px;
}
#hml_title{
	width: 100%;
	height: 50px;
}
#hml_coms{
	width: 100%;
	height: 240px;
	overflow-x: hidden;
}
.hml_com{
	width: 100%;
	height: 120px;
	cursor: pointer;
}
.hmlc{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.hmlc img{
	float: left;
	margin-left:0;
	margin-top: 0;
	position:inherit;
}
.hmlc_com{
	width: 175px;
	height: 120px;
	float: left;
	margin-left: 70px;
}
.hmlc_com p{
	font-size: 12px;
	margin-top:-60px;
}
.hmlc_com .hmlcc_2{
	margin-top: 10px;
}
.hmlc_com .com_num,.com_color,.com_size{
	font-weight: 400;
	font-size: 12px;
}
.hmlc_com .hmlcc_3{
	margin-top: 10px;
	font-size: 14px;
}
.hml_com:hover{
	background-color: #FAFAFA;
}
#hml_coms{
	border-bottom: solid #ccc 0.5px;
}
#hml_total p{
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
}
#hml_total input{
	margin-top: 20px;
	width: 170px;
	height: 40px;
	border: solid 2px #00559A;
	border-radius: 3px;
	background-color: #00559A;
	color: white;
	font-size: 12px;
}
#hml_total input:hover{
	background-color: #0073D1;
	border: #0073D1;
	cursor: pointer;
}

/* #commodity{
	display:inline
} */











